$bgc: #eeeeee;
$bgc--secondary:#f2f1ef;

$font-light:#eee;
$font-dark:#555;
$font-action:#c1986c;


$main-200: #535252;
$main-400: #313131;
$main-600:#191919;
$main-800:#000;

$secondary-200:#9d7c58;
$secondary-400:#c1986c;